In [1]:
pip install overpy geopy

Collecting overpy
  Downloading overpy-0.7-py3-none-any.whl.metadata (3.5 kB)
Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading overpy-0.7-py3-none-any.whl (14 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------  122.9/125.4 kB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 1.2 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ------------------------------ --------- 30.7/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB 323.5 kB/s eta 0:00:00
Installing collected packages: overpy, geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1 overpy-0.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install osmnx

Note: you may need to restart the kernel to use updated packages.Collecting osmnx
  Downloading osmnx-2.0.1-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: geopandas>=1.0 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from osmnx) (1.0.1)
Collecting networkx>=2.5 (from osmnx)
  Downloading networkx-3.4.2-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.22 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from osmnx) (1.26.4)
Requirement already satisfied: pandas>=1.4 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from osmnx) (2.2.1)
Requirement already satisfied: requests>=2.27 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from osmnx) (2.31.0)
Requirement already satisfied: shapely>=2.0 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from osmnx) (2.0.6)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from geopandas>=1.0->osmnx) (0.10.0)
Requirement already satisfied: packaging in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from geopandas>=1.0->osmnx) (24.0)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from geopandas>=1.0->osmnx) (3.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.4->osmnx) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.4->osmnx) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.4->osmnx) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.27->osmnx) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.27->osmnx) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.27->osmnx) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.27->osmnx) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\1999i\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4->osmnx) (1.16.0)
Downloading osmnx-2.0.1-py3-none-any.whl (99 kB)
   ---------------------------------------- 0.0/99.6 kB ? eta -:--:--
   ------------------------------------ --- 92.2/99.6 kB ? eta -:--:--
   ---------------------------------------- 99.6/99.6 kB 951.1 kB/s eta 0:00:00
Downloading networkx-3.4.2-py3-none-any.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ------------------------ --------------- 1.1/1.7 MB 11.2 MB/s eta 0:00:01
   ----------------------------------- ---- 1.5/1.7 MB 8.9 MB/s eta 0:00:01
   ---------------------------------------  1.7/1.7 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------  1.7/1.7 MB 8.4 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 5.2 MB/s eta 0:00:00
Installing collected packages: networkx, osmnx
Successfully installed networkx-3.4.2 osmnx-2.0.1

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## **Data Acquisition through OpenStreetMap (OSM) API**

In [7]:
import requests
import csv
import pandas as pd

# for shp files
import geopandas as gpd
import os
from shapely.geometry import shape

In [13]:

# Define the Overpass API URL
overpass_url = "http://overpass-api.de/api/interpreter"

# Define the Overpass QL query for New York
query = """
[out:json][timeout:25];
(
  node["amenity"="park"](40.477399, -74.25909, 40.917577, -73.700272);
);
out body;
"""

# Send the request
response = requests.get(overpass_url, params={"data": query})
data = response.json()

#  CSV file to write
csv_file = "new_york_amenities-park.csv"
with open(csv_file, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    
    #  header
    writer.writerow(["id", "lat", "lon", "tags"])
    
    #  rows
    for element in data["elements"]:
        
        element_id = element.get("id")
        lat = element.get("lat")
        lon = element.get("lon")
        tags = element.get("tags", {})
        
        
        tags_str = "; ".join(f"{k}: {v}" for k, v in tags.items())
        
        
        writer.writerow([element_id, lat, lon, tags_str])

print(f"Data successfully saved to {csv_file}")

Data successfully saved to new_york_amenities-park.csv

In [12]:

query = """
[out:json][timeout:25];
(
  node["amenity"="school"](40.477399, -74.25909, 40.917577, -73.700272);

);
out body;
"""

# Send the request
response = requests.get(overpass_url, params={"data": query})
data = response.json()


csv_file = "new_york_amenities-schools.csv"
with open(csv_file, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    
    
    writer.writerow(["id", "lat", "lon", "tags"])
    
    
    for element in data["elements"]:
        
        element_id = element.get("id")
        lat = element.get("lat")
        lon = element.get("lon")
        tags = element.get("tags", {})
        
        
        tags_str = "; ".join(f"{k}: {v}" for k, v in tags.items())
        
        
        writer.writerow([element_id, lat, lon, tags_str])

print(f"Data successfully saved to {csv_file}")

Data successfully saved to new_york_amenities-schools.csv

In [14]:

query = """
[out:json][timeout:25];
(
  node["public_transport"="station"](40.477399, -74.25909, 40.917577, -73.700272);
  node["public_transport"="stop_position"](40.477399, -74.25909, 40.917577, -73.700272);
);
out body;
"""

# Send the request
response = requests.get(overpass_url, params={"data": query})
data = response.json()


csv_file = "new_york_amenities-public_transport.csv"
with open(csv_file, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    
    
    writer.writerow(["id", "lat", "lon", "tags"])
    
    
    for element in data["elements"]:
        
        element_id = element.get("id")
        lat = element.get("lat")
        lon = element.get("lon")
        tags = element.get("tags", {})
        
        
        tags_str = "; ".join(f"{k}: {v}" for k, v in tags.items())
        
        
        writer.writerow([element_id, lat, lon, tags_str])

print(f"Data successfully saved to {csv_file}")

Data successfully saved to new_york_amenities-public_transport.csv

In [15]:
# new_york_amenities-schools.csv
schools = pd.read_csv("C:/Users/1999i/Documents/data mange/Lab Lectures/Project/new_york_amenities-schools.csv")
schools.head()

,id,lat,lon,tags
0,357544551,40.830451,-73.921746,amenity: school; ele: 20; gnis:feature_id: 942...
1,357544577,40.701224,-73.944512,amenity: school; ele: 5; gnis:feature_id: 9423...
2,357545339,40.735691,-73.878543,amenity: school; ele: 11; gnis:feature_id: 942...
3,357548361,40.732711,-73.982598,addr:city: Manhattan; addr:housenumber: 345; a...
4,357548368,40.709787,-73.963484,amenity: school; ele: 13; gnis:feature_id: 943...

In [16]:
schools.shape

(1363, 4)

In [17]:
parks = pd.read_csv("C:/Users/1999i/Documents/data mange/Lab Lectures/Project/new_york_amenities-park.csv")
parks.head()

Empty DataFrame
Columns: [id, lat, lon, tags]
Index: []

In [18]:
parks.shape

(0, 4)

In [19]:
trans = pd.read_csv("C:/Users/1999i/Documents/data mange/Lab Lectures/Project/new_york_amenities-public_transport.csv")
trans.head()

,id,lat,lon,tags
0,42432939,40.814104,-73.949623,bus: yes; public_transport: stop_position
1,42448838,40.761678,-73.949842,bus: yes; public_transport: stop_position
2,42503134,40.582102,-73.982495,bus: yes; name: 2695 Stillwell Avenue; network...
3,42535961,40.588014,-73.953972,bus: yes; name: Avenue Z & East 15th Street; n...
4,42723103,40.852182,-73.772677,amenity: ferry_terminal; ferry: yes; name: Har...

In [20]:
trans.shape

(8804, 4)

In [21]:
trans.tags.unique()

array(['bus: yes; public_transport: stop_position',
       'bus: yes; name: 2695 Stillwell Avenue; network: NYC Transit; public_transport: stop_position',
       'bus: yes; name: Avenue Z & East 15th Street; network: NYC Transit; operator: Metropolitan Transportation Authority; public_transport: stop_position',
       ...,
       'bus: yes; name: Hylan Boulevard & Woods of Arden Road; network: NYC Transit; network:wikidata: Q1325591; operator: Metropolitan Transportation Authority; operator:short: MTA; public_transport: stop_position; ref: 201172; route_ref: S78;SIM22',
       'bus: yes; name: Little Neck Parkway & Union Turnpike; public_transport: stop_position',
       'bus: yes; name: Union Turnpike & Little Neck Parkway; public_transport: stop_position'],
      dtype=object)

In [4]:

# Define the Overpass API URL
overpass_url = "http://overpass-api.de/api/interpreter"


query = """
[out:json][timeout:25];
(
  node["amenity"="hospital"](40.477399, -74.25909, 40.917577, -73.700272);
);
out body;
"""


response = requests.get(overpass_url, params={"data": query})
data = response.json()


csv_file = "new_york_amenities-hospitals.csv"
with open(csv_file, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    
   
    writer.writerow(["id", "lat", "lon", "tags"])
    
    
    for element in data["elements"]:
       
        element_id = element.get("id")
        lat = element.get("lat")
        lon = element.get("lon")
        tags = element.get("tags", {})
        
        
        tags_str = "; ".join(f"{k}: {v}" for k, v in tags.items())
        
        
        writer.writerow([element_id, lat, lon, tags_str])

print(f"Data successfully saved to {csv_file}")

Data successfully saved to new_york_amenities-hospitals.csv

In [5]:
# hospitals
trans = pd.read_csv("C:/Users/1999i/Documents/data mange/Lab Lectures/Project/new_york_amenities-hospitals.csv")
trans.head()

,id,lat,lon,tags
0,357571909,40.880085,-73.879844,addr:city: Bronx; addr:housenumber: 111; addr:...
1,357607640,40.846472,-73.838827,addr:city: Bronx; addr:housenumber: 1300; addr...
2,357607688,40.786528,-73.932257,access: private; addr:city: Wards Island; addr...
3,357611253,40.880358,-73.881396,addr:city: Bronx; addr:housenumber: 3424; addr...
4,357616245,40.785146,-73.927909,addr:city: New York; addr:housenumber: 13; add...

In [6]:
# hospitals
trans.shape

(39, 4)